/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #7237fc;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo img {
  width: 150px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.banner img {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.productos {
  padding: 20px;
  text-align: center;
}

.productos h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.productos-lista {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.producto {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  width: 200px;
  text-align: center;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.producto img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.producto h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.producto p {
  font-size: 1.1rem;
  color: #e91e63;
}

button {
  background-color: #7237fc;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
}

button:hover {
  background-color: #005f8d;
}

footer {
  background-color: #7237fc;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer a {
  color: white;
  text-decoration: none;
}
